@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/poppins/Poppins-Medium.otf");
}
@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/poppins/Poppins-semiBold.otf");
}
@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/poppins/Poppins-Bold.otf");
}
@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/poppins/Poppins-Thin.otf");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "poppins";
  scroll-behavior: smooth;
}
header {
  position: relative;
  margin-bottom: 100px;
}
.cover_black {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 0.4;
}
header > img {
  position: absolute;
  width: 70px;
  left: -85px;
  top: -5px;
}
#firstContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.container {
  padding-top: 40px;
  margin: 0 auto;
  width: 80%;
  position: relative;
}
.title {
  color: #fff;
}
.content_info {
  display: flex;
}
.content_info > div {
  position: relative;
  width: 50%;
}
#titleContent {
  letter-spacing: 2px;
  line-height: 45px;
  margin-bottom: 40px;
  padding-right: 0%;
  font-size: 33px;
  font-weight: 500;
  color: #fff;
}
.paragraph_content {
  color: #fff;
  line-height: 25px;
  font-weight: 100;
  margin-bottom: 55px;
  padding-right: 14%;
}
#btnDown {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  background: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(10px);
}
#btnDown:hover {
  animation: upButton 1s infinite;
}
#btnDown > img {
  width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cover {
  height: 100%;
  width: 100%;
  background-color: #004eff;
  opacity: 0.4;
}
#backVideo {
  position: fixed;
  z-index: -1;
}
#secondContainer {
  position: relative;
  width: 100%;
  background: white;
}
#secondContainer > section {
  display: flex;
}

#secondContainer .paragraph_content {
  color: #004eff;
}
#secondContainer > section > div {
  position: relative;
  width: 50%;
}
#titleSecond {
  margin-bottom: 20px;
}

#secondContainer > section > div > img {
  width: 100%;
}
#img1 {
  background: url("../assets/37.jpg") no-repeat;
  width: 180px;
  height: 120px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  right: 30%;
  top: -26%;
}
#img2 {
  background: url("../assets/38.jpg") no-repeat;
  width: 361px;
  height: 550px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  top: 8%;
  right: 30%;
}
#img3 {
  background: url("../assets/39.jpg") no-repeat;
  width: 255px;
  height: 340px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  right: -20%;
  top: -26%;
  background-position-x: -260px;
}
.backgroundImage {
  position: absolute;
}
@media (min-aspect-ratio: 16/9) {
  #backVideo {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #backVideo {
    width: auto;
    height: 100%;
  }
}
@media (min-width: 1900px) {
  #titleContent {
    font-size: 47px;
  }
  .paragraph_content {
    padding-right: 10%;
  }
}
@media (max-width: 1399px) and (min-width: 1200px) {
}

@media (max-width: 1199px) and (min-width: 992px) {
  #titleContent {
    margin-bottom: 13px;
    font-size: 24px;
    line-height: 30px;
  }
  #img1 {
    right: 50%;
    top: -16%;
  }
  #img2 {
    width: 211px;
    height: 316px;
    background-size: 100%;
    top: 27%;
    right: 46%;
  }
  #img3 {
    right: -20%;
    top: -30%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .paragraph_content {
    padding-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  #secondContainer > section {
    display: inherit;
  }

  .content_info {
    display: inherit;
  }
  .content_info > div {
    width: 100%;
  }
  #titleContent {
    text-align: center;
  }
  #img1,
  #img3 {
    display: none;
  }
  #img2 {
    width: 206px;
    height: 277px;
    background-size: 100%;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #secondContainer > section > div {
    width: 100%;
  }
}
@media (max-width: 767px) and (min-width: 685px) {
  .paragraph_content {
    padding-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  #secondContainer > section {
    display: inherit;
  }
  .content_info {
    display: inherit;
  }
  .content_info > div {
    width: 100%;
  }
  #titleContent {
    text-align: center;
  }
  #img1,
  #img3 {
    display: none;
  }
  #img2 {
    width: 206px;
    height: 277px;
    background-size: 100%;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #secondContainer > section > div {
    width: 100%;
  }
}
@media (max-width: 684px) and (min-width: 415px) {
  header {
    margin-bottom: 40px;
  }
  #secondContainer > section {
    display: inherit;
  }
  .paragraph_content {
    padding-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .content_info {
    display: inherit;
  }
  .content_info > div {
    width: 100%;
  }
  #titleContent {
    font-size: 37px;
    text-align: center;
  }
  #img1,
  #img3 {
    display: none;
  }
  #img2 {
    width: 206px;
    height: 277px;
    background-size: 100%;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #secondContainer > section > div {
    width: 100%;
  }
}

@media (max-width: 414px) and (min-width: 376px) {
  header {
    margin-bottom: 40px;
  }
  .paragraph_content {
    padding-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .content_info {
    display: inherit;
  }
  .content_info > div {
    width: 100%;
  }
  #titleContent {
    text-align: center;
  }
  #secondContainer > section {
    display: inherit;
  }
  #img1,
  #img3 {
    display: none;
  }
  #img2 {
    width: 206px;
    height: 277px;
    background-size: 100%;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #secondContainer > section > div {
    width: 100%;
  }
}
@media (max-width: 375px) {
  header {
    margin-bottom: 40px;
  }
  #secondContainer > section {
    display: inherit;
  }
  #secondContainer > section > div {
    width: 100%;
  }
  .paragraph_content {
    padding-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .content_info {
    display: inherit;
  }
  .content_info > div {
    width: 100%;
  }
  #titleContent {
    text-align: center;
  }
  #img1,
  #img3 {
    display: none;
  }
  #img2 {
    width: 206px;
    height: 277px;
    background-size: 100%;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes upButton {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}
